body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #ddd;
}

div {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

input {
  padding: 5px;
  font-size: 16px;
}

button {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

nav {
  background-color: #fff;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
}

nav a {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  background-color: #f5f5f5;
  color: black;
}

#main-content {
  margin-top: 60px; /* Adjusted to make space for the fixed navigation bar */
  margin-left: 20px;
}
